*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/.firebase/hosting.Y29tcG9zZUFwcC9idWlsZC9kaXN0L3dhc21Kcy9wcm9kdWN0aW9uRXhlY3V0YWJsZQ.cache
/.firebase/hosting.YnVpbGQvanMvcGFja2FnZXMva290bGlu.cache
.firebase